@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_PrivateLayout.cshtml";
}

<h2>ChangePassword</h2>
<script>
    function Validate() {
        if ($("#txtNewPwd").val() != "" && $("#txtConfirmPwd").val() != "")
        {
            if ($("#txtNewPwd").val() == $("#txtConfirmPwd").val()) {
                return true;
            }
            else {
                alert("Password and Confirm password didn't match.");
                return false;
            }
        }
        else {
            alert("Both fields are mendtory..");
            return false;
        }
    }
</script>
<center>
    @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post))
    {
        <table>
            <tr>
                <td>New Password:</td>
                <td>
                    @Html.TextBox("txtNewPwd","",new { type="password" })
                </td>
            </tr>
            <tr>
                <td>Confirm Password:</td>
                <td>
                    @Html.TextBox("txtConfirmPwd", "", new { type = "password" })
                </td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" name="b1" value="Update Password" onclick="return Validate()" /></td>
            </tr>
        </table>
    }
    <input type="hidden" name="hdnerrorMessege" id="hdnerrorMessege" value="@TempData["errorMessege"]" />
    <script type="text/javascript">
        $(function () {
            if ($("#hdnerrorMessege").val() != '') {
                alert($("#hdnerrorMessege").val());
            }
        });
    </script>
</center>