<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=windows-1252">
    <meta charset="utf-8">
    <title>Education Management System</title>
    <link rel="stylesheet" href="~/Styles/style.css" type="text/css">
    <link href="~/Styles/bootstrap.css" rel="stylesheet">
    <link href="~/Styles/bootstrap-responsive.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Styles/font-awesome.css">
    <link rel="stylesheet" href="~/Styles/css.css">
    <link rel="stylesheet" href="~/Styles/ace.css">
    <link rel="stylesheet" href="~/Styles/ace-responsive.css">
    <link rel="stylesheet" href="~/Styles/ace-skins.css">
    <link rel="stylesheet" href="~/Styles/jquery-ui-1.css">
    <link rel="stylesheet" href="~/Styles/jquery.css">
    <link href="http://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script type="text/javascript">

    $(function(){
      $(".datepicker").datepicker({ dateFormat: 'yy-mm-dd' });
      $("#includedContent").load("sidebar.html");
    });
    </script>
    <style>
        .ultopnav {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #333;
        }

        .litopnav {
            float: left;
            border-right: 1px solid #bbb;
        }

            .litopnav:last-child {
                border-right: none;
            }

            .litopnav a {
                display: block;
                color: white;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
            }

                .litopnav a:hover:not(.active) {
                    background-color: #111;
                }

        .active {
            background-color: #4CAF50;
        }
    </style>
    <style>
        .container {
            position: relative;
            width: 100%;
            height: 300px;
            border-radius: 5px;
            border: 1px solid red;
            overflow: hidden;
        }
    </style>

</head>

<body>
    <div class="home">
        <div class="navbar">
            <div class="navbar-inner">
                <div class="container-fluid" style="border-bottom:solid;background-image: url(~/images/index.jpg); ">
                    <ul class="nav ace-nav pull-right">
                        <li class="light-blue" style="line-height:81px;max-height:81px">
                            <a href="~/Home/Index">Login</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>


        <div>
            <ul class="ultopnav">
                <li class="litopnav"><a class="active" href="~/Home/Home">Home</a></li>
                <li class="litopnav"><a href="~/Home/academic">Academics</a></li>
                <li class="litopnav"><a href="~/Home/sports">Sports</a></li>
                <li class="litopnav" style="float:right"><a href="~/Home/aboutus">About Us</a></li>
                <li class="litopnav" style="float:right"><a href="~/Home/contactus">Contact Us</a></li>
            </ul>
            <div class="page-content">
                <table>
                    <tbody>
                        <tr>
                            <td>
                                <div id="imgGallary" class="container">
                                    <img src="http://www.examiningcalvinism.com/kingdavid.jpg" alt="" width="100%" height="300" />
                                    <img src="http://www.kingjamesbibleonline.org/1611-Bible/1611-King-James-Bible-Introduction.jpg" alt="" width="100%" height="300" />
                                    <img src="http://biblestudyoutlines.org/wp-content/uploads/2012/07/the-triump-of-david-over-king-hadadezer-of-zobah-1024x729.jpg" alt="" width="100%" height="300" />
                                    <img src="http://www.cgu.edu/Images/news/Flame%20Winter12/KJV-BibleBW.jpg" alt="" width="100%" height="300" />
                                </div>
                                <script>
			(function(){
			        var imgLen = document.getElementById('imgGallary');
			        var images = imgLen.getElementsByTagName('img');
			        var counter = 1;

			        if(counter <= images.length){
			            setInterval(function(){
			                images[0].src = images[counter].src;
			                console.log(images[counter].src);
			                counter++;

			                if(counter === images.length){
			                    counter = 1;
			                }
			            },4000);
			        }
			})();
                                </script>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="text" value="">
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</body>
</html>