@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_PrivateLayout.cshtml";
}
@using SMSApp.Controllers

<div class="page-content">
     <span><marquee>@Helper.GetAnnoucement(SessionManager.LoginUserInfo.UserID,SessionManager.LoginUserInfo.RoleID)</marquee> </span>
    <br />
    <br />
    <img src="~/images/admin.png" />
    <br />
    <h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Admin Panel</h2>
</div>

@section Scripts
{
    <script type="text/javascript">
        $("#MIS").addClass("active");
        $("#MIS").addClass("open");
        $("#addProfessor").addClass("active");
    </script>
}




